<div class="row">
    <div class="col-md-8">
        <div class="media">
        <br />
            <% avatar_url = @user.avatar_url(128) %>
            <% if avatar_url %>
                <div class="media-left">
                    <%= image_tag avatar_url, class: 'media-object' %>
                </div>
            <% end %>
            <div class="media-body">
                <h2 class="media-heading"><%= @user.name %></h2>
                <small>
                    <%= pluralize(@user.posts.count, 'post') %>,
                    <%= pluralize(@user.comments.count, 'comment') %>,
                    <%= pluralize(@user.favorites.count, 'favorite') %>
                </small>
            </div>
        </div>
    </div>
</div>
 
<% if user_has_zero_posts_or_comments? %>
    <h3><%=@user.name%> has not submitted any posts or comments yet.</h3>
<% else %>    
    <h2>Posts</h2>
    <%= render @user.posts %>
     
    <h2>Comments</h2>
    <%= render @user.comments %>
<% end %>

    <h2>Favorites</h2>
<% if user_has_zero_favorites? %>
    <h3><%=@user.name%> has no favorites yet.</h3>
<% else %>
    <% @user.favorites.each do |fav| %>
        <div class="media">
            <div class="media-body">
                <% avatar_url = fav.post.user.avatar_url(24) %>
                <div class="media-heading><%= link_to fav.post.title %></div>
                <small>
                    <%= image_tag avatar_url%>
                    submitted <%= time_ago_in_words(fav.post.created_at) %> ago by <%= fav.post.user.name %> <br>
                    <%= fav.post.comments.count %> Comments
                </small><br>
            </div>
        </div>
    <% end %>
<% end %>    