<div class="container center-block">
    <div class="center-block">
        <div class="center-block">

            <% avatar_url = @user.avatar_url(128) %>
            <% if avatar_url %>
                <div class="media-left">
                    <%= image_tag avatar_url, class: 'center-block' %>
                </div>
            <% end %>
            <div class="media-left">
                <h2 class="media-heading"><%= @user.name %></h2>
                <small>
                    <%= pluralize(@user.posts.count, 'post') %>,
                    <%= pluralize(@user.comments.count, 'comment') %>
                </small>
            </div>
        </div>
    </div>
</div>
 

<h2>Posts</h2>
<%= render @user.posts %>
 
<h2>Comments</h2>
<%= render @user.comments %>